.result-modal__content {
	gap: 48px;
}

.result-modal__box {
	display: flex;
	flex-direction: column;
	gap: 36px;
	align-items: center;
}
.result-modal__image {
	font-size: 150px;
	color: $main-color;
}
.result-modal__congrat {
	font-size: 32px;
	font-weight: $medium;
}
.result-modal__score {
	font-size: 80px;
	font-weight: $bold;
}
.result-modal__buttons {
	display: flex;
	flex-wrap: wrap-reverse;
	width: 100%;
	gap: 20px;
	justify-content: space-between;
}
.result-modal__categories-button,
.result-modal__next-round-button {
	font-size: $button;
	width: 100%;
	height: 62px;
	border-radius: 50px;
	color: #000;
}
.result-modal__categories-button {
	border: 1px solid #000;
}
.result-modal__next-round-button {
	background-color: $main-color;
}

@media screen and (min-width: 420px) {
	.result-modal__buttons {
		flex-wrap: nowrap;
	}
}
