$main-color: #e7fc0b;
$second-color: #cdcdcd;
$mobileH1: 32px;
$mobileH2: 30px;
$mobileH3: 24px;
$button: 22px;
$mobileH4: 20px;
$mobileBody: 16px;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$success-color: #3dda69;
$error-color: #ff7e7e;
