.main-settings-button {
  font-size: 30px;
  width: 40px;
  height: 40px;
  color: #fff;
  &:hover {
    color: $main-color;
  }
}
.cards-container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  height: 100%;
  justify-content: space-around;
  row-gap: 20px;
}
.main-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 300px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  &:hover .main-card__img {
    transform: scale(1.1);
  }
  overflow: hidden;
}
.main-card__img_artist {
  background-image: url('https://raw.githubusercontent.com/alyanoyigor/image-data/master/img/219.jpg');
}
.main-card__img_picture {
  background-image: url('https://raw.githubusercontent.com/alyanoyigor/image-data/master/img/220.jpg');
}
.main-card__img {
  background-repeat: no-repeat;
  height: 300px;
  transition: all 0.5s ease;
  width: 100%;
  background-size: cover;
  background-position: top 20% center;
}
.main-card__title {
  position: absolute;
  text-align: center;
  bottom: 20px;
  left: 0;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);
  color: #fff;
  font-size: 2rem;
  padding: 10px 0;
}
