<div class="modal answer-modal">
  <div class="modal__content answer-modal__content">
    <div class="answer-modal__image">
      <div class="answer-modal__result">
        <i class="fas fa-check-circle answer-modal__bool" id="answer-true"></i>
        <i
          class="fas fa-times-circle answer-modal__bool hide"
          id="answer-false"
        ></i>
      </div>
    </div>
    <div class="answer-modal__text">
      <h3 class="answer-modal__picture-name">Text</h3>
      <p class="answer-modal__author-year">Text</p>
    </div>
    <button class="next-question-button">Next</button>
  </div>
</div>
